<h2>Sign Up</h2>

<form class="form signup-form">
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" class="form-input" id="name-signup" placeholder="Name"/>
  </div>
  <div class="form-group">
    <label for="email-signup">email:</label>
    <input class="form-input" type="text" id="email-signup" placeholder="Email"/>
  </div>
  <div class="form-group">
    <label for="password-signup">password:</label>
    <input class="form-input" type="password" id="password-signup" placeholder="Password"/>
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Sign Up</button>
  </div>
</form>

<script src="/js/signup.js"></script>